name: Build & push to Docker Hub

on:
  push:
    branches: [ "**" ]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: ${{ github.ref_name == 'master' }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build (all branches) and push (master only)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          # push only on master branch
          push: ${{ github.ref_name == 'master' }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/dotfiles:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/dotfiles:${{ github.sha }}
